html,body {
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

a {
  color: #00B7FF;
}

div {
	position: relative;
	border: 5px solid blue;
	border-radius: 10px;
}

div.left {
	top: 5%;
	left: 5%;
	width: 65%;
	height: 90%;
	float: left;
}

div.right {
	top: 5%;
	left: 75%;
	width: 20%;
	height: 90%;
}

.left .lot {
	top: 25%;
	left: 10%;
	width: 80%;
	height: 20%;
	display: table;
	border: 1px solid blue;
}

.lot span {
	font-size: 4em;
	text-align: center;
	display: table-cell;
	vertial-align: middle;
}

.left input[type='button'] {
	position: relative;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 20%;
	display: block;
	cursor: pointer;
}