html,body {
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.left {
	position: relative;
	/* margin: 5% 30% 5% 5%; */
	top: 5%;
	left: 5%;
	width: 65%;
	height: 90%;
	border: 5px solid blue;
	border-radius: 10px;
	float: left;
}

div.right {
	position: relative;
	/* margin: 5% 5% 5% 75%;*/
	top: 5%;
	left: 75%;
	width: 20%;
	height: 90%;
	border: 5px solid blue;
	border-radius: 10px;
}


.left input[type='text'] {
	position: relative;
	top: 25%;
	left: 10%;
	width: 80%;
	height: 20%;
	display: block;
}

.left input[type='button'] {
	position: relative;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 20%;
	display: block;
	cursor: pointer;
}